[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# IDE0018: Inline variable declaration
csharp_style_inlined_variable_declaration = true:none
