<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PassMApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<connectionStrings>
  <add name="RP_Connection1" connectionString=" Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\passmappDB.mdf;Integrated Security=True" />
  <add name="RP_Connection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\passmappDB.mdf;Integrated Security=True" />
  <add name="PassMApp.Properties.Settings.RP_Connection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\passmappDB.mdf;Integrated Security=True" />
 </connectionStrings>
 <userSettings>
  <PassMApp.Properties.Settings>
   <setting name="Setting" serializeAs="String">
    <value />
   </setting>
  </PassMApp.Properties.Settings>
 </userSettings>
</configuration>